body {
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0 20px;
    overflow-x: hidden;
}
.container {
    margin: 0 auto;
    padding: 20px;
}
.platform {
    padding-top: 15px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    flex-wrap: wrap;
}
.logos img {
    max-width: 100%;
    height: auto;
    margin: 20px;
    cursor: pointer;
}
.kah {
    padding-bottom: 25px;
}
.payment-icons img {
    max-width: 50px;
    margin: 5px;
}
.button {
    display: inline-block;
    padding: 15px 30px;
    font-size: 24px;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    margin: 10px;
}
.disclaimer {
    background-color: black;
    color: white;
    text-align: left;
    padding: 20px;
    margin-top: 40px;
}
@media (max-width: 768px) {
    h1{
        font-size: 27px;
    }
    body {
        margin: 0;
        padding: 0 10px 0 10px;
    }
    .container {
        margin: 0 auto;
        padding: 0px;
    }
    .platform {
        flex-direction: row;
        align-items: start;
    }
    .logos img {
        max-width: 100%;
        height: auto;
        margin: 10px 0;
        width: 130px;
    }
    .button {
        padding: 0;
        font-size: 18px;
        margin: 0;
        margin-top: 20px;
    }
    .hak {
        padding-bottom: 15px;
    }
    a img {
        width:95px;
        height:auto;  
    }
    .logos .kah-2 {
        margin-left: 10px;
        margin-bottom: 25px;
    }
    .logos .kah {
        display: inline-flex;
        margin-left: 10px;
        margin-top: 25px;
    }
    .disclaimer {
        font-size: 13px;
    }
    .p {
        font-size: 13px;
    }
}
@media (min-width: 768px) and (max-width: 1023px) {
    body {
        margin: 0;
        padding: 0 10px 0 10px;
    }
    .container {
        margin: 0 auto;
        padding: 0px;
    }
    .platform {
        flex-direction: row;
        align-items: start;
        justify-content: center;
    }
    .logos img {
        max-width: 100%;
        height: auto;
        margin: 10px 0;
        width: 150px;
    }
    .button {
        padding: 0;
        font-size: 18px;
        margin: 0;
        margin-top: 15px;
    }
    .hak {
        padding-bottom: 15px;
    }
    a img {
        width:150px;
        height:auto;  
    }
    .logos .kah-2 {
        margin-left: 10px;
        margin-bottom: 25px;
    }
    .logos .kah {
        display: inline-flex;
        margin-left: 10px;
        margin-top: 25px;
    }
    .disclaimer {
        font-size: 13px;
    }
    .p {
        font-size: 13px;
    }
}

@media (min-width: 1024px) and (max-width: 1440px) {
    .platform{
        justify-content: center;
    }
    .container {
        width: 100%;
        margin: 0 auto;
        padding: 0 10px 0 10px;
    }
    .content {
        display: flex;
        justify-content: space-between;
    }
    .main-content {
        width: 70%;
    }
    .logos img {
        max-width: 100%;
        height: auto;
        width: 300px;
        margin: 5px 0 25px 0;
        gap: 15px;
    }
    .logos .kah {
        width: 600px;
        margin-left: 150px;
    }
    .logos .kah-2 {
        width: 600px;
        margin-bottom: 70px;
        margin-left: 150px;
    }
    a img {
        width: 250px;
        height: auto; 
    }
    .p {
        font-size: 17px;
    }
    .disclaimer {
        font-size: 15px;
    }
}

@media (min-width: 1441px) {
    .platform{
        justify-content: center;
    }
    .container {
        width: 100%;
        margin: 0 auto;
        padding: 0 10px 0 10px;
    }
    .content {
        display: flex;
        justify-content: space-between;
    }
    .main-content {
        width: 70%;
    }
    .logos img {
        max-width: 100%;
        height: auto;
        width: 350px;
        margin: 15px 0 25px 0;
        gap: 15px;
    }
    .logos .kah {
        width: 475px;
        margin-left: 200px;
    }
    .logos .kah-2 {
        width: 475px;
        margin-bottom: 70px;
        margin-left: 200px;
    }
    a img {
        width: 300px;
        height: auto; 
    }
    .p {
        font-size: 19px;
    }
    .disclaimer {
        font-size: 16px;
    }
}
